<div mat-dialog-title>Project Form</div>
<form [formGroup]="projectForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Project Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Project Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Link to Project</mat-label>
            <input matInput formControlName="url" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="primary" type="submit">
            Save
        </button>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>