/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%; 
    background-image: linear-gradient(to bottom, #77A1D3, #79CBCA, #E684AE); 
    background-color:#E684AE; 
    background-repeat: no-repeat;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
